//@import "variables";
@import "colors";
@import "mixins";
@import "shadows";

$timetable-width: 1000px;
$day-height: 1440px;
$row-width: 200px;

.navbar-brand {
  color: $white;
}

.b-timetable {
  width: $timetable-width;
  height: 500px;
  overflow: scroll;
  background: #edeef0;

  #{&}-wall {
    position: relative;
    width: $row-width * 7;
    height: $day-height;
    //overflow-x: hidden;
  }

  #{&}-row {
    display: block;
    height: $day-height;
    width: $row-width;
    float: left;
    border-right: 1px solid $grey-600;
    position: relative;
  }
  #{&}-cell {
    //border: 1px solid #000;
    margin-left: 2px;
    width: $row-width - 2px;
    background: white;
    border-radius: 2px;
    border: 0;
    padding: 2px;
    @include shadow-z-1;

    .teacher {
      margin-left: 10px;
      font-size: 10px;
    }
  }
}