{% extends 'app.html' %}

{% block content %}
    <h3>Предмет: {{ cell.subject }}</h3>
    <h4>Преподаватель: {{ cell.teacher }}</h4>
    <div class="clearfix">
        <div class="col-md-offset-2 col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">Комментарии</div>
                <div class="panel-body">
                    <ul class="list-group " id="comments_list" data-update-url="{% url "calendar:cell_comments_list" timetable=cell.table.id cell=cell.id %}">
                        {% for comment in cell.comment_set.all %}
                            {% include "CommentDetailView.html" with comment=comment %}
                        {% endfor %}
                    </ul>
                    <div class="col-md-10 pull-right">
                        <form method="post"
                              action="{% url "calendar:cell.comment.add" timetable=cell.table.id cell=cell.id %}"
                              id="comment_add_form">
                            {% include "form_view.html" with form=form %}
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}