{% extends "app.html" %}

{% load timetable_filters %}

{% block content %}
    <div class="modal" id="add_new_timetable_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Создание нового расписания</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="add_new_timetable_form">
                        {% include "form_view.html" with form=form %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="add_new_timetable_form">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="edit_timetable_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Редактирование расписания</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="" id="edit_timetable_form" data-action-template-url="{% url "calendar:timetable.edit" timetable=0 %}">

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="edit_timetable_form">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" data-toggle="modal" data-target="#add_new_timetable_modal">Добавить расписание</button>
    <div class="list-group">
        {% for timetable in timetables %}
            <div class="list-group-item-with-line">
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="material-icons">folder</i>
                </div>
                <div class="row-content">
                    {% if timetable.owner == user %}
                    <div class="action-secondary">
                        <a href="#" title="Редактировать" data-toggle="modal" data-target="#edit_timetable_modal" data-timetable="{{ timetable.id }}">
                            <i class="material-icons">mode edit</i>
                        </a>
                        <a class="b-timetable-remove" title="Удалить" href="{% url "calendar:timetable.remove" timetable=timetable.id %}">
                            <i class="material-icons">clear</i>
                        </a>
                    </div>
                    {% endif %}
                    <h4 class="list-group-item-heading">
                        <a href="{% url "calendar:timetable" timetable=timetable.id %}">{{ timetable.name }}</a>
                    </h4>
                    <p class="list-group-item-text">{{ timetable.description }}</p>
                    {% if not timetable|has_user:user %}
                    <a href="{% url "calendar:timetable.subscribe" timetable=timetable.id %}" class="btn">Подписаться</a>
                    {% endif %}
                </div>
            </div>
            <div class="list-group-separator"></div>
            </div>
        {% endfor %}

    </div>
{% endblock %}