{% extends 'app.html' %}

{% load cache %}

{% block title %}Главная страница расписаний{% endblock %}

{% block content %}
    {% load int_filters %}
    <h1>{{ timetable.name }}(Среднее число комментов: {{ avg_comm|floatformat }})</h1>
    {% if timetable.owner_id == user.id %}
    <a href="{% url "calendar:cell.create" timetable=timetable.id %}" class="btn btn-primary">Добавить ячейку</a>
    {% endif %}
    {% cache 3600 "timetable" timetable.id %}
    <div class="b-timetable">
        <div class="b-timetable-wall">
        {% with timetable.cell_set.all as cells %}
        {% for daySym in '1234567' %}
            <div class="b-timetable-row">
                {% with forloop.counter as day %}
                {% for cell in cells  %}
                    {% if cell.dayOfWeek == day %}
                        <div data-time="{{ cell.getStartTime }}" style="position: absolute; left: 0; top: {{ cell.getStartTime }}px; display: block;">
                            {% include "Cell.html" with cell=cell %}
                        </div>
                    {% endif %}
                {% endfor %}
                {% endwith %}
            </div>
        {% endfor %}
            <div style="clear: both"></div>
        {% endwith %}
        </div>
    </div>
    {% endcache %}
    
{% endblock %}