{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Расписания{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-material-design/css/bootstrap-material-design.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-material-design/css/ripples.min.css" %}">
    <link rel="stylesheet" href="{% static "css/css.css" %}">
</head>
<body>
{% include "top_nav_panel.html" %}
<div class="container">
<div class="well">
{% block content %}
    <h1>CONTENT MUST BE THERE!</h1>
{% endblock %}
</div>
</div>
</body>
    <script src="{% static "jquery/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap-material-design/js/material.min.js" %}"></script>
    <script src="{% static "bootstrap-material-design/js/ripples.min.js" %}"></script>
    <script src="{% static "js/js.js" %}"></script>
</html>